/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #0e1624;
    color: #ffffff;
    scroll-behavior: smooth;
}

a {
    color: #fff;
    text-decoration: none;
}

div#paper {
    position: absolute;top: 111px;right: 110px
}

img.logo {
    width: 100px;
    height: 100px;
}

header {
    background-color: #1c2b3a;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

.cta-button {
    background-color: #f80;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    height: 100vh;
    background: linear-gradient(135deg, #0e1624 0%, #1c2b3a 100%);
    background-attachment: fixed;
    background-size: cover;
    background-image: url('../images/hexbg.svg'); /* Add your hexagonal background image */
    color: #ffffff;
    position: relative;
    overflow: hidden;
}

.hero-content {
    max-width: 50%;
    position: absolute;
    top: 200px;
    z-index: 10;
}

.hero-content .stats {
    position: relative;
    top: 44px;
}

.hero h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: bold;
}

.hero p {
    margin: 20px 0;
    font-size: 1.25rem;
}

.hero .cta-button {
    margin-top: 20px;
}

.hexagonal-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/hexbg.svg');
    background-color: #0c2731;
    opacity: 0.1;
    z-index: 1;
}

.content-section {
    padding: 100px 20px;
    background-color: #1c2b3a;
}

.features, .tokenomics, .roadmap {
    padding: 60px 20px;
    background-color: #1c2b3a;
}

.card {
    padding: 20px;
}

.vesting-schedule-timeline {
    margin: 20px 0;
    padding: 20px;
    background-color: #1c2b3a;
    border-radius: 10px;
    color: #ffffff;
}

.vesting-schedule-timeline h3 {
    margin-bottom: 10px;
}

.vesting-schedule-timeline p {
    margin-bottom: 20px;
}

.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 40px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    width: 2px;
    background-color: #ffffff;
}

.timeline li {
    margin-bottom: 20px;
    position: relative;
}

.timeline li::before {
    content: '';
    position: absolute;
    left: 20px;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
}

.timeline span {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}


footer {
    padding: 40px;
    background-color: #0e1624;
    text-align: center;
}

/* Parallax Scrolling Effect */
#hero {
    background: url('images/hexagonal-background.png') center/cover no-repeat fixed;
}

